{% extends "base.html" %}

{% block title %}Favorite Things{% endblock %}

{% block main %}
<body>
    {% include 'nav.html' %}

    <div class="page-container" style="margin-top: 50px;">
        <header class="favs-page-header">
            <h1 class="favs-page-title">My Favs</h1>
            <p class="favs-page-subtitle">Some of my favorite stuffs!</p>
        </header>

        <div class="container" style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
            <h1 class="favs-container-title" style="margin-bottom: 30px">Favorite Games</h1>

            <div class="favs-box" id="list-fav-games">
                <div class="item noRound"><img src="https://cdn2.steamgriddb.com/icon/add7a048049671970976f3e18f21ade3.ico"> Minecraft</div>
                <div class="item noRound"><img src="https://cdn2.steamgriddb.com/icon/7dd11ae2d5ed34925bdbdc9b01866349.ico"> Deltarune</div>
                <div class="item noRound"><img src="https://cdn2.steamgriddb.com/icon/3b9be7e15b46c42911f39a4a9e861022.ico"> Undertale</div>
                <div class="item noRound"><img src="https://cdn2.steamgriddb.com/icon/4b0a618db23379c7c77f818cf569050d.ico"> VRChat</div>
                <div class="item noRound"><img src="https://cdn2.steamgriddb.com/icon/1387a00f03b4b423e63127b08c261bdc.ico"> Rainbow Six Seige</div>
                <div class="item"><img src="https://cdn2.steamgriddb.com/icon/9425be43ba92c2b4454ca7bf602efad8.png"> Fortnite</div>
                <div class="item noRound"><img src="https://cdn2.steamgriddb.com/icon/299024cfe2cd92197e0ab02d2421285c.png"> Warframe</div>
                <div class="item noRound"><img src="https://cdn2.steamgriddb.com/icon/82cf0712367108660c5339a4897a728e.ico"> Palworld</div>
                <div class="item"><img src="https://cdn2.steamgriddb.com/icon/f313a347b430b215abe0aaf72a6fe05d.png"> Pokémon Alpha Sapphire</div>
                <div class="item noRound"><img src="https://cdn2.steamgriddb.com/icon/2119b8d43eafcf353e07d7cb5554170b.ico"> Stardew Valley</div>
                <div class="item noRound"><img src="https://cdn2.steamgriddb.com/icon/0a7c563b1e75f1d3555ac12218da520e.png"> The Crew: Motorfest</div>
                <div class="item noRound"><img src="https://cdn2.steamgriddb.com/icon/d24fb9e15b6e0464c336856ec4c69cc0.png"> Slime Rancher</div>
                <div class="item"><img src="https://cdn2.steamgriddb.com/icon/b3de4c09290f03a29836f8ef47429108.png"> Wordscapes</div>
            </div>
        </div>

        <div class="container" style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
            <h1 class="favs-container-title" style="margin-bottom: 30px">Favorite Content Creators</h1>

            <div class="favs-box" id="list-fav-creators">
                <a href="https://www.youtube.com/@DarkWolf_1987_"><div class="item"><img onerror="imageFallback(this)" src="https://yt3.googleusercontent.com/p1BYPOQFIKRRKcR7naQ7-3t9H-kx3Gs3mKsLr1njWTnF1jQ-6WrdZ0g4_SoXS-NXC3bJKwlywgc=s160-c-k-c0x00ffffff-no-rj"><span> DarkWolf1987 (My GF <3)</span></div></a>
                <a href="https://www.twitch.tv/ElexiaBrigitte"><div class="item"><img onerror="imageFallback(this)" src="https://static-cdn.jtvnw.net/jtv_user_pictures/e943aaf3-68f7-4461-b6e3-d7a89419c035-profile_image-70x70.png"><span> ElexiaBrigitte</span></div></a>
                <a href="https://www.twitch.tv/Wedbeatle"><div class="item"><img onerror="imageFallback(this)" src="https://static-cdn.jtvnw.net/jtv_user_pictures/dc4f1d23-8f40-4087-bacd-e45c8c39dffc-profile_image-150x150.png"><span> Wedbeatle</span></div></a>
                <a href="https://www.twitch.tv/EmberTail"><div class="item"><img onerror="imageFallback(this)" src="https://static-cdn.jtvnw.net/jtv_user_pictures/b45f0932-1799-4bb7-bc07-d593e1f2af90-profile_image-150x150.png"><span> EmberTail</span></div></a>
                <a href="https://www.youtube.com/@Pixemzy"><div class="item"><img onerror="imageFallback(this)" src="https://yt3.googleusercontent.com/gnyBOkuZEEejFJAo6PrCVP4CKpXxSF0Z6pTgH36TnQmDueLdLaHUbqr87kdUG7-NmW2EIasS=s160-c-k-c0x00ffffff-no-rj"><span> Pixels (Pixemzy)</span></div></a>
                <a href="https://www.youtube.com/@Veritasium"><div class="item"><img onerror="imageFallback(this)" src="https://yt3.googleusercontent.com/7vCbvtCqtjQ3YLgsJt7Y952MQV1sBvhllSCSxHP8_sVZdcPCBrITfhkN2RdyCuwPnsByq-1GoA=s160-c-k-c0x00ffffff-no-rj"><span> Veritasium</span></div></a>
                <a href="https://www.youtube.com/@Nilered"><div class="item"><img onerror="imageFallback(this)" src="https://yt3.googleusercontent.com/Dv2Ma7-KpJt-SXQXv7fIEA7qkRNGEDvGPH0e33nEkgy35fI0fz48EAd-U7x3C2rPl4K-TX11=s160-c-k-c0x00ffffff-no-rj"><span> Nilered/Nileblue</span></div></a>
                <a href="https://www.youtube.com/@fern-tv"><div class="item"><img onerror="imageFallback(this)" src="https://yt3.googleusercontent.com/7Pztg8I_KJBkX9XhWnQRQNmulnqCI6KEkSpWX5qYuzZiSoDv4QT7MiEu4XcCQQNBPcrUX1ko=s160-c-k-c0x00ffffff-no-rj"><span> Fern</span></div></a>
                <a href="https://www.youtube.com/@LegalEagle"><div class="item"><img onerror="imageFallback(this)" src="https://yt3.googleusercontent.com/ytc/AIdro_kwW7uBHNuJln3mwjAD39KvwvTbVKtoTONHGwiaAp3Njw=s160-c-k-c0x00ffffff-no-rj"><span> LegalEagle</span></div></a>
                <a href="https://www.youtube.com/@SomeOrdinaryGamers"><div class="item"><img onerror="imageFallback(this)" src="https://yt3.googleusercontent.com/ytc/AIdro_m9CJFVl3bEWvGnNnN4G9ErBO2lTpKePWCjx_FQtLWaDww=s160-c-k-c0x00ffffff-no-rj"><span> SomeOrdinaryGamers</span></div></a>
                <a href="https://www.youtube.com/@EmKay"><div class="item"><img onerror="imageFallback(this)" src="https://yt3.googleusercontent.com/I-ZCBZmDXgqZ_F6qjDcqx_knzXq7t7xQDnUBq1N9wfPtYFAtVDNOtGwCdnCEYhAGInyirk39kg=s160-c-k-c0x00ffffff-no-rj"><span> EmKay</span></div></a>
                <a href="https://www.youtube.com/@TheMisterEpic"><div class="item"><img onerror="imageFallback(this)" src="https://yt3.googleusercontent.com/ytc/AIdro_moAuemmWPwA-vT4XgOnm_rfYuhM3cA8pvtZmcTJgCG6ck=s160-c-k-c0x00ffffff-no-rj"><span> TheMisterEpic</span></div></a>
                <a href="https://www.youtube.com/@SalemTechsperts"><div class="item"><img onerror="imageFallback(this)" src="https://yt3.googleusercontent.com/6s5gxWt6Ld643nH3ik-tQep1JntnwnZfiM30yPMF4rUNdH9pV73uG16GXSgkz-R2trq60Rgcgw=s160-c-k-c0x00ffffff-no-rj"><span> Salem Techsperts</span></div></a>
                <a href="https://www.youtube.com/@MichaelMJD"><div class="item"><img onerror="imageFallback(this)" src="https://yt3.googleusercontent.com/mQf96gDrciXZZJHXN1tuSlRlm56U0ZI55vcdp7laYLSxZRNUIgeGX5byXjaVaRIevUPVB8Yofg=s160-c-k-c0x00ffffff-no-rj"><span> MichaelMJD</span></div></a>
                <a href="https://www.youtube.com/@MrWhoseTheBoss"><div class="item"><img onerror="imageFallback(this)" src="https://yt3.googleusercontent.com/a_1U9tYmozHPhZhsLiqqQ_XcYbhlmG_X1fsTdBWAHBjLmRN0haiv1xa_owiit7p8xyKDlMF1LXw=s160-c-k-c0x00ffffff-no-rj"><span> MrWhoseTheBoss</span></div></a>
                <a href="https://www.youtube.com/@NoTextToSpeech"><div class="item"><img onerror="imageFallback(this)" src="https://yt3.googleusercontent.com/Xi5LgenvgPeaKTrJXRkjpX4uEwS-wvjt5ibhFpyj6TcYNKrAc79HHPx0Qe6LydpiPlb7v90eeQ=s160-c-k-c0x00ffffff-no-rj"><span> NoTextToSpeech</span></div></a>
                <a href="https://www.youtube.com/@GameTheory"><div class="item"><img onerror="imageFallback(this)" src="https://yt3.googleusercontent.com/TZM99pMTtrvq1VJSC3Y83iaGTOgJi1d6gJV2bzqWoKNApQC5EP_vTzlilGyhVy-bQmGY97e4=s160-c-k-c0x00ffffff-no-rj"><span> Game Theory</span></div></a>
                <a href="https://www.youtube.com/@FilmTheory"><div class="item"><img onerror="imageFallback(this)" src="https://yt3.googleusercontent.com/HjBK8oOg1ViehFvXGjXRknhZ1GYyIkxkIKAdzoLrA-x28dVtDdu6z2o7pr87Y2DYfYVSPlWMJg=s160-c-k-c0x00ffffff-no-rj"><span> Film Theory</span></div></a>
                <a href="https://www.youtube.com/@FoodTheory"><div class="item"><img onerror="imageFallback(this)" src="https://yt3.googleusercontent.com/1af329QNMIGh-z06_all43jIhbbSqwTh87077h0hoe96bvescUUxdw_LiBPxaB8Wv6JUYIX4vg=s160-c-k-c0x00ffffff-no-rj"><span> Food Theory</span></div></a>
                <a href="https://www.youtube.com/@StyleTheorists"><div class="item"><img onerror="imageFallback(this)" src="https://yt3.googleusercontent.com/meOeWIoI6ymXv2Q8hGkn3uNk6v_F5KQnfQjkT948SXm_8rX6jGcV9BqZaX8MHc-jW4koaz022mA=s160-c-k-c0x00ffffff-no-rj"><span> Style Theory</span></div></a>
                <a href="https://www.youtube.com/@VisualVenture"><div class="item"><img onerror="imageFallback(this)" src="https://yt3.googleusercontent.com/54__vw1l8UHq56FNauFWMCvXxj_Qi-0L6vkTBJj0WWeBOZwvtfZ1xnQritRnkAmuLH9ARHND=s160-c-k-c0x00ffffff-no-rj"><span> Visual Venture</span></div></a>
                <a href="https://www.youtube.com/@NationSquid"><div class="item"><img onerror="imageFallback(this)" src="https://yt3.googleusercontent.com/ytc/AIdro_mjiPOso0E6jJfflVE5bYeBUoA4q6mEVU67EWXxNgy-Uv4=s160-c-k-c0x00ffffff-no-rj"><span> NationSquid</span></div></a>
                <a href="https://www.youtube.com/@TechLinked"><div class="item"><img onerror="imageFallback(this)" src="https://yt3.googleusercontent.com/_7NuLsyaCWL63spCS74vy7RGd8s5cwx0FATJTvEeew3OH5d7TuD9hGcxbrhoYcMFT4mBxaJm=s160-c-k-c0x00ffffff-no-rj"><span> TechLinked</span></div></a>
                <a href="https://www.youtube.com/@Kurzgesagt"><div class="item"><img onerror="imageFallback(this)" src="https://yt3.googleusercontent.com/ytc/AIdro_n1Ribd7LwdP_qKtqWL3ZDfIgv9M1d6g78VwpHGXVR2Ir4=s160-c-k-c0x00ffffff-no-rj"><span> Kurzgesagt – In a Nutshell</span></div></a>
                <a href="https://www.youtube.com/@UnnecessaryInventions"><div class="item"><img onerror="imageFallback(this)" src="https://yt3.googleusercontent.com/RFaZFBDUPk-HoBUOZv0C3QDK4SjSphdS4jWe7DNL-FvDw0W8zMSmGzNLmnUPHaSgxNsE5F6W9g=s160-c-k-c0x00ffffff-no-rj"><span> Unneccesary Inventions</span></div></a>
                <a href="https://www.youtube.com/@MorleyKert"><div class="item"><img onerror="imageFallback(this)" src="https://yt3.googleusercontent.com/rUcPlBi8IaRx4R8THfYMi-67x-tZ50Fiqt_ybTXwVoQtKepxgsD94XfF4zkfImU0yeailBF7=s160-c-k-c0x00ffffff-no-rj"><span> Morley Kert</span></div></a>
                <a href="https://www.youtube.com/@RB77"><div class="item"><img onerror="imageFallback(this)" src="https://yt3.googleusercontent.com/CMbZOZLY1YW7RnRuGE6Kwjf-la-0oAUunzvgab00VyyuHa0cV0vHaqBKRUqYqCU9bGH762hFfh0=s160-c-k-c0x00ffffff-no-rj"><span> RB77</span></div></a>
                <a href="https://www.youtube.com/@MrGreenGuy"><div class="item"><img onerror="imageFallback(this)" src="https://yt3.googleusercontent.com/DP9gpgGBr3JU3WZlYQ54lJ8ZOjM3sJDPh0LUqp-ykWftHPbja4cHT516jUHdTtuxAOwL7Y4YjQ=s160-c-k-c0x00ffffff-no-rj"><span> MrGreenGuy</span></div></a>
                <a href="https://www.youtube.com/@DeepHumor"><div class="item"><img onerror="imageFallback(this)" src="https://yt3.googleusercontent.com/ggUbMo_vIajoUo5EK1sgxWa8dxVGTPDeg7vij8AANyGOmGe9hOkdfxKS-twPXrDxzRc5pcygdA=s160-c-k-c0x00ffffff-no-rj"><span> Deep Humor</span></div></a>
                <a href="https://www.youtube.com/@InternetAnarchist"><div class="item"><img onerror="imageFallback(this)" src="https://yt3.googleusercontent.com/LlT8LA1Zod2vgQ9yCwp4_LMIpIZyOIxPwNIQ9-MZGzabKkY4PK6mVwpWgg12plHg_p5JaTqVVw=s160-c-k-c0x00ffffff-no-rj"><span> Internet Anarchist</span></div></a>
                <a href="https://www.youtube.com/@Engineezy"><div class="item"><img onerror="imageFallback(this)" src="https://yt3.googleusercontent.com/D1x_o1GHqMfkDonqX-lcSvEhx1XLiZf_vx2IGrdH7pe8SDnFztSvxp1CLQ_NyRbXWni5l85mFw=s160-c-k-c0x00ffffff-no-rj"><span> Engineezy</span></div></a>
                <a href="https://www.youtube.com/@MagicTheNoah"><div class="item"><img onerror="imageFallback(this)" src="https://yt3.googleusercontent.com/_ZbNdnN-4sMg-cKYyl5hwOUmfXqvhfBN8dpMTDYzeBiQA-dAM9CGRzzco4UUcJoTyKBQ9KxsUw=s160-c-k-c0x00ffffff-no-rj"><span> Magic The Noah</span></div></a>
                <a href="https://www.youtube.com/@BetaEtaDelota"><div class="item"><img onerror="imageFallback(this)" src="https://yt3.googleusercontent.com/GYAjazLL2kYhXj5HUnKrRsYRo6EWISIzcsDmigsRsCwPyeUa887ZgLSIGIfpT8LnVc-qcbGw=s160-c-k-c0x00ffffff-no-rj"><span> BetaEtaDelota</span></div></a>
                <a href="https://www.youtube.com/@Sticks"><div class="item"><img onerror="imageFallback(this)" src="https://yt3.googleusercontent.com/fL13Iww80h9GljKrPsU6bftrN4kEFB_eO2wCCqH0HURai2S7GUAJP0uBFH7Now4m3QGC9IzQZMM=s160-c-k-c0x00ffffff-no-rj"><span> Sticks</span></div></a>
                <a href="https://www.youtube.com/@MaxFosh"><div class="item"><img onerror="imageFallback(this)" src="https://yt3.googleusercontent.com/ytc/AIdro_lT_QgyeWr8i5fe31yhYKyJiGq8Wz6FeN3DIBohWYm7law=s160-c-k-c0x00ffffff-no-rj"><span> Max Fosh</span></div></a>
            </div>
        </div>

        <div class="container has-badge badge-nsfw" style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
            <h1 class="favs-container-title" style="margin-bottom: 30px">Favorite Kinks</h1>
            <br>
            <h2 class="favs-container-heading" style="margin-bottom: 10px">Giving/Doing</h2>
            <div class="favs-box" id="list-fav-kinks-1">
                <div class="item">Handjobs</div>
                <div class="item">Blowjobs</div>
                <div class="item">Deep Throating</div>
                <div class="item">Swallowing</div>
                <div class="item">Stripping</div>
                <div class="item">Teasing</div>
                <div class="item">Edging</div>
                <div class="item">Pegging</div>
            </div>
            
            <h2 class="favs-container-heading" style="margin-bottom: 10px; margin-top: 20px;">Recieving</h2>
            <div class="favs-box" id="list-fav-kinks-2">
                <div class="item">Fingering</div>
                <div class="item">Licking</div>
                <div class="item">Facials</div>
                <div class="item">Edging</div>
                <div class="item">Teasing</div>
                <div class="item">Oral</div>
                <div class="item">Anal</div>
                <div class="item">Tickling</div>
            </div>
            
            <h2 class="favs-container-heading" style="margin-bottom: 10px; margin-top: 20px;">Positions</h2>
            <h5 style="margin-top: 0; margin-bottom: 3px; color: #666">Hover for a few seconds for description</h5>
            <div class="favs-box" id="list-fav-kinks-3">
                <div class="item" tooltip-text="One partner lies on their back while the other lies on top, face-to-face.">Missionary</div>
                <div class="item" tooltip-text="One partner lies on their back while the other straddles them, facing forward.">Cowgirl</div>
                <div class="item" tooltip-text="One partner is on hands and knees while the other enters from behind.">Doggy Style 💕💕</div>
                <div class="item" tooltip-text="One partner stands while the other is either lifted or bends over for penetration.">Standing</div>
                <div class="item" tooltip-text="One partner lies on their back and arches upward (like a yoga bridge), while the other penetrates from above.">Bridge</div>
                <div class="item" tooltip-text="Both partners lie on their sides, one behind the other, for penetration from behind.">Spooning</div>
            </div>
            
            <h2 class="favs-container-heading" style="margin-bottom: 10px; margin-top: 20px;">Scenarios</h2>
            <h3 style="margin: 0;">As Center/Victim</h3>
            <div class="favs-box" id="list-fav-kinks-4">
                <div class="item">Pet Play (Soft & Hard)</div>
                <div class="item">Slave Training</div>
                <div class="item">Slave Auctioning</div>
                <div class="item">Hypnotism (Consensual)</div>
                <div class="item">Freeuse (Consensual)</div>
            </div>

            <h2 class="favs-container-heading" style="margin-bottom: 10px; margin-top: 20px;">Intimacy, Clothing, & Toys</h2>
            <div class="favs-box" id="list-fav-kinks-5">
                <div class="item">Romance</div>
                <div class="item">Affection</div>
                <div class="item">Cuddling</div>
                <div class="item">Hugging</div>
                <div class="item">Cosplay</div>
                <div class="item">Short Skirts / Loose Shirts</div>
                <div class="item">Dildos</div>
                <div class="item">Strapons</div>
                <div class="item">Sex Machines</div>
                <div class="item">Stockings</div>
                <div class="item">Collar</div>
                <div class="item">Leash</div>
                <div class="item">Furry</div>
            </div>
        </div>
    </div>
</body>
<script>
function imageFallback(imgEl) {
    imgEl.outerHTML = '<i class="nf nf-fa-circle_user" style="color:#000000; font-size: 32px;"></i>';
}
</script>
{% endblock %}