{% extends "base.html" %}

<!--
█████████████████████████████████████████████████████████████████████
█▄─▄███▄─▄█▄─▄─▀█▄─▄▄▀██▀▄─██▄─▄▄▀█▄─█─▄█████─█─█─▄─▄─█▄─▀█▀─▄█▄─▄███
██─██▀██─███─▄─▀██─▄─▄██─▀─███─▄─▄██▄─▄██░░██─▄─███─████─█▄█─███─██▀█
▀▄▄▄▄▄▀▄▄▄▀▄▄▄▄▀▀▄▄▀▄▄▀▄▄▀▄▄▀▄▄▀▄▄▀▀▄▄▄▀▀▄▄▀▀▄▀▄▀▀▄▄▄▀▀▄▄▄▀▄▄▄▀▄▄▄▄▄▀
-->

{% block title %}Gallery{% endblock %}

{% block main %}
<body>
    {% include 'nav.html' %}
    <div class="page-container" style="margin-top: 50px;">

        <header class="gallery-page-header">
            <h1 class="gallery-page-title">My Full Art Gallery</h1>
            <p class="gallery-page-subtitle">Art of me!</p>
        </header>

        <div class="gallery" id="gallery" style="margin-top: 30px"></div>
    </div>

    {% include 'viewer.html' %}

    <script src="{{ url_for('static', filename='js/viewer.js') }}"></script>
</body>
<script>
document.addEventListener("DOMContentLoaded", loadGallery("gallery"));
</script>
{% endblock %}
