<div id="viewer" class="viewer hidden">
    <div class="viewer-close" onclick="closeViewer()">✖</div>
    <div class="viewer-content">
        <img id="viewer-image">
        <div class="viewer-sidebar">
            <div class="viewer-artist-info">
                <img id="viewer-artist-pic">
                <p id="viewer-artist"></p>
            </div>
            <div class="viewer-ai-container hidden">
                <div id="viewer-ai-badge" class="ai-badge">AI</div>
                <p id="viewer-ai-note" class="ai-note">AI-Prompted</p>
            </div>
            <h2 id="viewer-title">
                <span id="viewer-form"></span><br>
                <span id="viewer-artname"></span>
            </h2>
        </div>
    </div>
</div>