<div id="viewer" class="viewer hidden">
    <div class="viewer-close" onclick="closeViewer()">✖</div>
    <div class="viewer-content">
        <img id="viewer-image">
        <div class="viewer-sidebar">
            <div class="viewer-artist-info">
                <img id="viewer-artist-pic">
                <p id="viewer-artist"></p>
            </div>
            <div class="viewer-badges">
                <div class="badge-row hidden" id="ai-info">
                    <div id="viewer-ai-badge" class="viewer-badge ai-badge">AI</div>
                    <p id="viewer-ai-note" class="badge-note">AI-Prompted</p>
                </div>
                <div class="badge-row hidden" id="nsfw-info">
                    <div id="viewer-nsfw-badge" class="viewer-badge nsfw-badge">NSFW</div>
                    <p id="viewer-nsfw-note" class="badge-note">Sensitive Content</p>
                </div>
            </div>
            <h2 id="viewer-title">
                <span>Z</span><br>
                <span id="viewer-form"></span><br>
                <span id="viewer-artname"></span>
            </h2>
        </div>
    </div>
</div>